{% extends "base.html" %}

{% block title %}Лента | FamilyBook{% endblock %}

{% block content %}
    <div class="w-full pt-2 md:pt-6">
        
        {% include 'includes/create_post_btn.html' %}

        {% if posts %}
            <div class="flex flex-col gap-6 w-full mt-8" id="post-container">
                {% for post in posts %}
                    <div class="w-full">
                        {% include 'includes/post_card.html' %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="flex flex-col items-center justify-center py-32 w-full animate-in fade-in zoom-in duration-1000">
                <div class="text-7xl mb-6 opacity-40 drop-shadow-2xl">🏜️</div>
                <h2 class="text-2xl font-black text-slate-900 dark:text-white uppercase tracking-tighter mb-2 text-center">
                    Семейная летопись пуста...
                </h2>
                <p class="text-slate-600 dark:text-slate-400 font-medium italic opacity-70 text-center px-4">
                    Будьте первым, кто оставит след в истории вашей Семьи!
                </p>
                
                <div class="mt-6 text-brand animate-bounce">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18" />
                    </svg>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block modals %}
    {{ super() }}
    {% include 'includes/create_post_madal.html' %} 
{% endblock %}